#main-nav {
  font-size: 15pt;
  color: #000;
  background-color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 13px;
  right: 0px;
  width: 100vw;
  height: 250px;
  top: 0;
}
#main-nav .logo {
  margin-top: 15px;
  min-width: 150px;
}
#main-nav a:not(:first-child)::before {
  content: "//";
  margin-right: 40px;
  margin-left: 20px;
  font-size: 13pt;
}

#main-nav a {
  text-decoration: none;
  font-size: 13pt;
  font-weight: 700;
  color: #000;
  transition: 0.3s ease-in-out;
}
#main-nav a:hover {
  font-size: 15pt;
}

#main-nav .text-nav {
  min-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-nav .active {
  font-weight: 800;
  font-size: 14pt;
}
.wrapper-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 50px;
}

#bottom-nav {
  background-color: #000;
  color: #fff;
  height: 38px;
  left: 0;
  position: absolute;
  margin-left: -400px;
  padding-left: 400px;
  display: flex;
  align-items: center;
  padding-right: 40px;
}
#bottom-nav a {
  text-decoration: none;
  font-size: 13pt;
  letter-spacing: 13px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#bottom-nav a:hover {
  font-size: 14pt;
}
.wrapper-bottom-nav {
  display: flex;
  position: relative;
  align-items: center;
  height: 38px;
  margin-bottom: 70px;
}
#bottom-nav .active {
  font-weight: 800;
  font-size: 14pt;
}
#bottom-nav a:not(:first-child)::before {
  content: "//";
  margin-right: 40px;
  margin-left: 20px;
  font-size: 13pt;
  letter-spacing: 13px;
}

#home-nav {
  background-color: #fff;
  color: #000;
  height: 38px;
  right: 0;
  top: 68vh;
  position: absolute;
  margin-right: -400px;
  padding-right: 400px;
  padding-left: 60px;
  display: flex;
  align-items: center;
}
#home-nav a {
  text-decoration: none;
  font-size: 13pt;
  letter-spacing: 13px;
  font-weight: 700;
  color: #000;
  transition: 0.3s ease-in-out;
}
#home-nav a:hover {
  font-size: 14pt;
}
.wrapper-home-nav {
  display: flex;
  position: relative;
  align-items: center;
  height: 38px;
  margin-bottom: 70px;
}
#home-nav .active {
  font-weight: 800;
  font-size: 14pt;
}
#home-nav a:not(:first-child)::before {
  content: "//";
  margin-right: 40px;
  margin-left: 20px;
  font-size: 13pt;
  letter-spacing: 13px;
}

#bottom-nav .text-nav {
  min-width: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-nav .text-nav {
  min-width: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile-nav {
  font-size: 15pt;
  color: #000;
  background-color: #fff;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  letter-spacing: 13px;
  right: 0px;
  max-height: 130px;
  min-height: 130px;
  width: 100vw;
  top: 0;
  z-index: 1000;
}
#mobile-nav .mobile-logo {
  margin-top: 15px;
  height: 100%;
}
#mobile-nav a:not(:first-child)::before {
  content: "//";
  margin-right: 40px;
  margin-left: 20px;
  font-size: 13pt;
}
#mobile-nav a {
  text-decoration: none;
  font-size: 13pt;
  font-weight: 700;
  color: #000;
  transition: 0.3s ease-in-out;
}
#mobile-nav a:hover {
  font-size: 15pt;
}
#mobile-nav .mobile-text-nav {
  align-items: center;
  justify-content: center;
}
.mobile-logo {
  width: 40%;
  min-width: 150px;
  z-index: 2;
}
.wrapper-mobile-nav {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 130px;
  max-height: 130px;
  background-color: #fff;
}
#mobile-nav .active {
  font-weight: 800;
  font-size: 14pt;
}
@media (max-width: 1100px) {
  #main-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
  }
  #bottom-nav {
    display: none;
  }
  #home-nav {
    display: none;
  }
  .content {
    margin-top: 120px !important;
  }
  .slash-title {
    font-size: 11pt !important;
  }
  .text {
    font-size: 11pt !important;
  }
  .line-text {
    font-size: 10pt !important;
  }
  .timeline-title {
    font-size: 10pt !important;
    margin-bottom: 40px !important;
  }
  .wrapper-bottom-nav {
    display: none;
  }
}
.mobile-nav .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: calc(50% - 13px);
  right: 12%;
  z-index: 5;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

.mobile-nav .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: calc(50% - 13px);
  right: 12%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-nav .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.mobile-nav .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.mobile-nav .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.mobile-text-nav li {
  transition: 0.4s linear;
}
.mobile-nav .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.mobile-nav .mobile-text-nav li {
  opacity: 0;
}
.mobile-nav .mobile-text-nav {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  background-color: #fff;
  width: 100%;
  transform: translateY(-150%);
  display: flex;
  padding-bottom: 20px;
  z-index: -5;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
}

.mobile-nav .mobile-text-nav li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.mobile-nav input[type="checkbox"]:checked ~ .mobile-text-nav {
  transform: translateY(0);
}
.mobile-nav input[type="checkbox"]:checked ~ .mobile-text-nav li {
  opacity: 1;
}

.mobile-nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.mobile-nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.mobile-nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

li {
  list-style-type: none;
}
