.content{
    margin-top: 200px;
    padding: 30px 150px;
}
.slash {
    margin-left: 15px;
    margin-right: 25px;
    letter-spacing: 8px;
}
.slash-title{
    letter-spacing: 8px;
    margin-bottom: 40px;
    font-weight: bold;
}
.slash-title::before{
    content: '//';
    margin-right: 25px;
    letter-spacing: 8px;
}
.title{
    letter-spacing: 8px;
}
.content strong {
    font-size: 15pt;
}
.container-text-image{
    display: flex;
}
.left{
    flex: 4 5;
}
img{
    max-width: 100%;
}
.left .text{
    width: 90%;
    position: relative;
}
.right{
    flex: 5 4;
}
.wrapper-line{
    position: relative;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.line-text{
    background-color: #000;
    position: absolute;
    right: 0;
    width: 45vw;
    margin-right: -80px;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 200px;
    font-size: 15pt;
    color:#fff
}