* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
body{
    --margin-slider: 0px;
    overflow-x: hidden;
}
.content{
    margin-top: 250px;
    padding: 30px 10vw;
}
.slash-title{
    letter-spacing: 12px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 13pt;
}
.slash-title::before{
    content: '//';
    margin-right: 35px;
    letter-spacing: 8px;
}
.title{
    letter-spacing: 8px;
}
.content strong {
    font-size: 15pt;
}
.container-text-image-right{
    display: flex;
    margin-bottom: 130px;
}
.container-text-image-right .left{
    flex: 5 5;
}
img{
    max-width: 100%;
}
.container-text-image-right .text{
    font-size: 12pt;
    line-height: 30px;
}
.container-text-image-right .left .text{
    width: 80%;
    position: relative;
}
.container-text-image-right .right{
    flex: 5 5;
}
.right img {
   
}
.container-text-image-right .wrapper-line{
    position: relative;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container-text-image-right .line-text{
    background-color: #000;
    position: absolute;
    font-weight: 700;
    left: 0;
    letter-spacing: 4px;
    width: 45vw;
    margin-right: -80px;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 400px;
    margin-left: -400px;
    font-size: 11pt;
    color:#fff
}


.container-text-image-left{
    display: flex;
    text-align: right;
    margin-bottom: 100px;
}
.container-text-image-left .left{
    flex: 5 5;
}
img{
    max-width: 100%;
}
.container-text-image-left .text{
    font-size: 12pt;
    line-height: 30px;
}
.container-text-image-left .right .text{
    margin-left: 100px;
    position: relative;
}
.container-text-image-left .right{
    flex: 5 5;
}
.container-text-image-left .wrapper-line{
    position: relative;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container-text-image-left .line-text{
    background-color: #000;
    position: absolute;
    font-weight: 700;
    right: 0;
    letter-spacing: 4px;
    width: 45vw;
    margin-left: -80px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 400px;
    margin-right: -400px;
    font-size: 11pt;
    color:#fff
}

.timeline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 130px;
}
.slider-timeline{
    width: 700px;
    align-self: center;
    display: flex;
    overflow: hidden;
    position: relative;
    
}
.slide{
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}
.year{
    background-color: #000;
    color: #fff;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 30px;
    font-size: 14pt;
    font-weight: 600;
    margin-bottom: 20px;
}
.timeline-title{
    margin-bottom: 40px;
    letter-spacing: 12px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 14pt;
}
.slide{
    margin-left: var(--margin-slider);
}
.slide ~ .slide {
    margin-left: 0;
}

#previous-button {
    position: absolute;
    left: 0;
    cursor: pointer;
}
#next-button{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.material-icons-outlined{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    user-select: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.description {
    width: 600px;
}
.buttons-wrapper{
    position: relative;
    width: 800px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-footer,.middle-footer,.right-footer{
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.social-icon {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.right-footer{
    align-items: end;
    text-align: right;
    line-height: 25px;
    flex-direction: column;
}